<center><h1>About Trinity Kulon</h1></center>
<div>
    <h2><u>Teams Played On</u></h2>
    <ul>

        <li>2017 - YMCA High School Competitive</li>
        <li><a href="http://www.azdesertsky.com/">2017 - AZ Desert Sky Club Volleyball</a></li>
        <li>2016 - YMCA Competitive</li>
        <li>2016 - YMCA Recreation</li>
        <li>2016 - Kachina Elementary</li>

    </ul>
</div>

<div>
    <h2><u>Clinics/Camps Attended:</u></h2>
    <br />
    <h3>Summer 2017 - Cactus High School Summer Clinic</h3>
    <h4>Clinicians:</h4>
    <ul>
        <li>Anthony Puglisi - Head Coach</li>
    </ul>
    <h3>
        <a href="http://azdesertsky.azdesertsky.com/clubs/3478/pages/118718">
            June 2017 - Winning Ways by Winning Coaches
        </a>
    </h3><br />
    <h4>Clinicians:</h4>
    <ul>
        <li>
            Terry Gable - Head Coach -  Jacksonville State University
        </li>
        <li>
            Jolene Shepardson - Head Coach - San Jose State University
        </li>
        <li>
            Rick Reynolds - Head Coach - Idaho State Universtiy
        </li>
        <li>
            Dave Rubio - Head Coach - University of Arizona
        </li>
        <li>
            Charita Stubbs - Assistant Coach - University of Arizona
        </li>
        <li>
            Chris Lamb - Head Coach - Wichita State
        </li>
        <li>
            Bear Grassl - Head Coach - Sonoma State University
        </li>
    </ul>

    @***Next Clinic***@



</div>
